* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: rgb(26, 26, 26);
  color: white;
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}